/* Font's used on the invitation: Futura, Sackers Italian */
html,h1,p, body {
    margin: 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
}

.container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    width: 100vw;
    min-width: 100vw;
}

.heading {
    padding: 10px 20px;
    text-transform: uppercase;
}

#title {
    font-size: 6vw;
    font-weight: 800;
    grid-column: 2;
    grid-row: 1;
    font-family: 'Parisienne', cursive;
    text-transform: none;
    text-align: center;
    z-index: 10;
    color: black;
 }

#subtitle {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 150px);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

#event-time {
    grid-column: 1 / span 2;
}

/* Appleton tower easter egg */
#appleton-tower {
    display: none;
    width: 50% !important;
    /* center in div */
    margin: auto;
}

#event-time:hover #appleton-tower {
    display: block;
}

#event-time:hover #timer {
    display: none;
}

#subtitle > * {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    text-align: center;
}

/* One line for larger screens */
@media only screen and (min-width: 768px) {
    #subtitle {
        grid-template-columns: repeat(3, 300px);
    }

    #event-time {
        grid-column: 3;
        height: inherit;
    }

    #subtitle > * {
        height: 210px;
    }
}

#subtitle img {
    width: 100%;
}

#subtitle .text-top {
    /* Gold Foil Effect */
    color:    #D5AD6D; /*if no support for background-clip*/
    background: 
        -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(
            top, 
            rgba(213,173,109,1) 0%, 
            rgba(213,173,109,1) 26%, 
            rgba(226,186,120,1) 35%, 
            rgba(163,126,67,1) 45%, 
            rgba(145,112,59,1) 61%, 
            rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#event-time {
    vertical-align: middle;
}

.img-banner {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.img-banner > img {
    width: 100vw;
}

.subsection-body {
    padding: 20px;
}

#content {
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    display: grid;
}

#timeline {
    display: grid;
    row-gap: 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

#timeline .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timeline img {
    margin: 5px;
    width: 30px;
}

#general .subsection-body {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

#general .subsection-body .title {
    grid-row: 1;
}

#general .subsection-body .description {
    grid-row: 3;
    font-size: small;
    text-align: justify;
}

#how-to-get-there {
    text-align: center;
}

#transport-options {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#transport-options .title {
    grid-row: 1;
}

#transport-options .description {
    grid-row: 3;
    font-size: small;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#transport-options img {
    margin: 5px;
    width: 30px;
}

#gift-list {
    text-align: center;
}

#img-wedding-shop {
     width: 30vh;
}

#what-to-do-in-edinburgh {
    text-align: center;
}

#what-to-do-in-edinburgh-suggestions {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

#what-to-do-in-edinburgh-suggestions .title {
    grid-row: 1;
}

#what-to-do-in-edinburgh-suggestions .description {
    grid-row: 3;
    font-size: small;
    text-align: justify;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    font-size: large;
    text-transform: uppercase;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}
  
.tabcontent {
    display: none;
    padding: 6px 0 12px 0;
}

.tablinks .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.tablinks .gold-foil-border-wrap {
    display: none;
}

.tablinks.active .gold-foil-border-wrap {
    display: block !important;
}

.tablinks img {
    margin: 5px;
}

.gold-foil-border-wrap {
    background: linear-gradient(
            to right, 
            rgba(213,173,109,1) 0%, 
            rgba(213,173,109,1) 26%, 
            rgba(226,186,120,1) 35%, 
            rgba(163,126,67,1) 45%, 
            rgba(145,112,59,1) 61%, 
            rgba(213,173,109,1) 100%);
    padding-top: 5px;
  }
  
.gold-foil-border {
    background: white;
}

#img-castle {
    grid-row: 2;
    width: 100%;
    margin-bottom: 20px;
}

/* Flip for larger screens */
@media only screen and (min-width: 768px) {
    #img-castle {
        grid-row: 3;
    }
}