html,h1,p, body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

.container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 100vw;
    min-width: 100vw;
}

.heading {
    padding: 10px 20px;
}

.title {
    font-size: x-large;
    grid-column: 2;
    grid-row: 1;
 }

.subtitle {
    grid-column: 2;
    grid-row: 2;
 }

 .nav {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
 }

.img-banner {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.img-banner > img {
    object-fit: contain;
    width: 100vw;
}

.subsection-heading {
    font-size: xx-large;
}

#content {
    grid-row: 4;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;
}

#schedule {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    background-color: blanchedalmond;
}

#schedule-body {
    display: inline-block;
    text-align: left;
}

#how-to-get-there {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

#gift-list {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

#what-to-do-in-edinburgh {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    background-color: blanchedalmond;
}

.row {
     display: grid;
     grid-template-columns: 33% 33% 33%;
     width: 20vw;
}

.row .cell-time {
    grid-column: 1;
    text-align: right;
}

.row .dash {
    grid-column: 2;
    text-align: center;
}

.row .cell-description {
    grid-column: 3;
}

#img-wedding-shop {
     width: 30vh;
}