html,h1,p, body {
    margin: 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
}

.container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 100vw;
    min-width: 100vw;
}

.heading {
    padding: 10px 20px;
    text-transform: uppercase;
}

#title {
    font-size: 8vw;
    font-weight: 800;
    grid-column: 2;
    grid-row: 1;
    font-family: 'Italianno', cursive;
    text-transform: none;

    /* Gold Foil Effect */
    color:    #D5AD6D; /*if no support for background-clip*/
    background: 
        -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(
            top, 
            rgba(213,173,109,1) 0%, 
            rgba(213,173,109,1) 26%, 
            rgba(226,186,120,1) 35%, 
            rgba(163,126,67,1) 45%, 
            rgba(145,112,59,1) 61%, 
            rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

#subtitle {
    grid-column: 2;
    grid-row: 2;
}

.img-banner {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.img-banner > img {
    object-fit: contain;
    width: 100vw;
    margin-bottom: -4px;
}

.subsection-body {
    padding: 20px;
}

#content {
    grid-row: 4;
    grid-column: 2;
    text-align: center;

    /*
    background-color: blanchedalmond;
    background: linear-gradient(#c8d0d3, #d3d4cc, blanchedalmond, #cfbcab);
    */
}

/* Futura */
/* Sackers Italian */

#schedule {
    text-align: center;
}

#schedule .row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#schedule .row .cell {
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#schedule img {
    margin: 5px;
    width: 30px;
}

#how-to-get-there {
    text-align: center;
}

#transport-options {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

#transport-options .title {
    grid-row: 1;
}

#transport-options .description {
    grid-row: 2;
    font-size: small;
    text-align: justify;
}

#gift-list {
    text-align: center;
}

#img-wedding-shop {
     width: 30vh;
}

#what-to-do-in-edinburgh {
    text-align: center;
}

#what-to-do-in-edinburgh-suggestions {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

#what-to-do-in-edinburgh-suggestions .title {
    grid-row: 1;
}

#what-to-do-in-edinburgh-suggestions .description {
    grid-row: 3;
    font-size: small;
    text-align: justify;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    font-size: large;
    text-transform: uppercase;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
.tab button:hover {
    background-color: #ddd;
}
  
.tabcontent {
    display: none;
    padding: 6px 0 12px 0;
}

.tablinks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tablinks .title {
    display: flex;
    align-items: center;
}

.tablinks.active .gold-foil-border-wrap {
    width: 100%;
}

.tablinks img {
    margin: 5px;
}

.gold-foil-border-wrap {
    background: linear-gradient(
            to right, 
            rgba(213,173,109,1) 0%, 
            rgba(213,173,109,1) 26%, 
            rgba(226,186,120,1) 35%, 
            rgba(163,126,67,1) 45%, 
            rgba(145,112,59,1) 61%, 
            rgba(213,173,109,1) 100%);
    padding-top: 5px;
  }
  
.gold-foil-border {
    background: white;
}